streamlit==1.22.0
langchain==0.0.177
openai==0.27.7
pypdf==3.9.0
streamlit_chat==0.1.1
youtube-transcript-api==0.6.1
psycopg2-binary==2.9.6
deep-translator==1.11.4
streamlit_tags==1.2.8
reportlab==4.0.4
streamlit-tags==1.2.8